@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scrollbar-width: 2rem; */
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@theme {
  --font-editorial-italic: "editorial-italic", sans-serif;
  --font-editorial-light: "editorial-light", sans-serif;
  --font-editorial-regular: "editorial-regular", sans-serif;
  --font-ppmori-regular: "ppmori-regular", sans-serif;
  --font-ppmori-bold: "ppmori-bold", sans-serif;

  --color-dark-100: #1a1a1a;
  --color-dark-200: #3b3b3b;
  --color-dark-300: #333333;
  --color-dark-400: #232323;
  --color-dark-500: #222222;

  --color-light-300: #fff;
  --color-light-400: #ffffffe6;
  --color-light-500: #f5f5f5;
  --color-light-600: #f3e8e7;
  --color-light-700: #d8d0c4;
  --color-light-800: #787878;

  --color-red-900: #f1cccf;
}

@layer base {
  @font-face {
    font-family: "editorial-italic";
    src: url("/public/fonts/EditorialNew-Italic.ttf") format(".ttf");
  }
  @font-face {
    font-family: "editorial-light";
    src: url("/public/fonts/EditorialNew-Lightitalic.ttf") format(".ttf");
  }
  @font-face {
    font-family: "editorial-regular";
    src: url("/public/fonts/EditorialNew-Regular.ttf") format(".ttf");
  }
  @font-face {
    font-family: "ppmori-regular";
    src: url("/public/fonts/PPMori-Regular.ttf") format(".ttf");
  }
  @font-face {
    font-family: "ppmori-bold";
    src: url("/public/fonts/PPMori-SemiBold.ttf") format(".ttf");
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}
