@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scrollbar-width: 2rem; */
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-ppmori-regular);
}
@theme {
  --font-editorial-italic: "editorial-italic", sans-serif;
  --font-editorial-light: "editorial-light", sans-serif;
  --font-editorial-regular: "editorial-regular", sans-serif;
  --font-ppmori-regular: "ppmori-regular", sans-serif;
  --font-ppmori-bold: "ppmori-bold", sans-serif;

  --color-dark-100: #1a1a1a;
  --color-dark-200: #3b3b3b;
  --color-dark-300: #333333;
  --color-dark-400: #232323;
  --color-dark-500: #222222;

  --color-light-300: #fff;
  --color-light-400: #ffffffe6;
  --color-light-500: #f5f5f5;
  --color-light-600: #f3e8e7;
  --color-light-700: #d8d0c4;
  --color-light-800: #787878;
  --color-light-900: #a5a5a5;

  --color-red-900: #f1cccf;
}

@layer base {
  @font-face {
    font-family: "editorial-italic";
    src: url("/fonts/EditorialNew-Italic.ttf");
  }
  @font-face {
    font-family: "editorial-light";
    src: url("/fonts/EditorialNew-Lightitalic.ttf");
  }
  @font-face {
    font-family: "editorial-regular";
    src: url("/fonts/EditorialNew-Regular.ttf");
  }
  @font-face {
    font-family: "ppmori-regular";
    src: url("/fonts/PPMori-Regular.ttf");
  }
  @font-face {
    font-family: "ppmori-bold";
    src: url("/fonts/PPMori-SemiBold.ttf");
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

.word {
  overflow: hidden;
  font-family: var(--font-ppmori-regular);
  font-weight: 600;
  line-height: 1;
}
.word1,
.word6 {
  overflow: hidden;
  font-family: var(--font-editorial-italic);
  font-weight: 400;
}
.line,
.cta-lable,
.words,
.count .digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
